In [38]:
import numpy as np
import pandas as pd

df = pd.read_csv("sample_1_2.csv")
data = {
        "Year": df['year'].tolist(),
        "Sales": df['Num'].tolist()
}

In [39]:
data

{'Year': [2000, 2001, 2002, 2003], 'Sales': [1, 5, 3, 8]}

In [34]:
import pandas as pd

# Assume your predictions are stored in a Series called 'predictions'
predictions = pd.Series([1,6.5,5], name='predictions')

# Write the predictions to a CSV file
predictions.to_csv('predictions.csv', index=False)

In [35]:
data = pd.read_csv("predictions.csv")
data

   predictions
0          1.0
1          6.5
2          5.0

In [41]:
import pandas as pd

# create a sample dataframe
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# add a column 'C' to the left of column 'A'
df.insert(0, 'C', [7, 8, 9])

# print the modified dataframe
df

   C  A  B
0  7  1  4
1  8  2  5
2  9  3  6